html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ffffff;
}
body .header {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 150px;
}
@media (max-width: 414px) {
  body .header {
    background-color: #f7f8fa;
    margin-bottom: 80px;
  }
  body .header .nav-text {
    display: none;
  }
  body .header .btn-Login {
    display: none;
  }
  body .header .nav-logo a {
    margin-top: 13px;
    margin-bottom: 13.28px;
    margin-left: 31px;
  }
  body .header .nav-logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .header .nav-logo2 .grid-nav {
    width: 25px;
    height: 21px;
    margin-right: 33px;
  }
}
@media (max-width: 320px) {
  body .header {
    background-color: #f7f8fa;
    margin-bottom: 62px;
  }
  body .header .nav-text {
    display: none;
  }
  body .header .btn-Login {
    display: none;
  }
  body .header .nav-logo a {
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 24px;
  }
  body .header .nav-logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .header .nav-logo2 .grid-nav {
    width: 19px;
    height: 16px;
    margin-right: 26px;
  }
}
body .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .nav-logo2 {
  display: none;
}
body .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .nav-logo a {
  margin-top: 18px;
  margin-bottom: 18px;
}
body .nav-logo:hover {
  opacity: 0.9;
}
body .nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .nav-text a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #070707;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 24px;
}
body .nav-text a:not(.fourth) {
  margin-right: 77px;
}
body .nav-text:hover {
  opacity: 0.9;
}
body .btn-Login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .btn-Login input {
  width: 89px;
  height: 39px;
  margin-top: 20px;
  margin-bottom: 21px;
  background: #1f2e35;
  border: 1px solid #070707;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}
body .btn-Login:hover {
  opacity: 0.9;
}
body .container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 414px) {
  body .container {
    max-width: 359px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  body .container {
    max-width: 280px;
    margin: 0 auto;
  }
}
body .item1 {
  margin-bottom: 120px;
}
@media (max-width: 414px) {
  body .item1 {
    margin-bottom: 70px;
  }
  body .item1 .flex-box2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 32px;
  }
  body .item1 .i1fb1text1 {
    margin-bottom: 8px;
  }
  body .item1 .i1fb1text2 {
    margin-bottom: 24px;
  }
  body .item1 .explore-btn {
    margin-bottom: 34px;
  }
  body .item1 .img-text #png-1 {
    border: none;
  }
  body .item1 .img-text #png-1 .Icon {
    width: 17px;
    height: 15px;
  }
  body .item1 .img-text #png-2 {
    border: none;
  }
  body .item1 .img-text #png-2 .Icon {
    width: 17px;
    height: 15px;
  }
}
@media (max-width: 320px) {
  body .item1 {
    margin-bottom: 55px;
  }
  body .item1 .flex-box2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 25px;
    width: 371px;
    height: 305px;
  }
  body .item1 .i1fb1text1 {
    margin-bottom: 6px;
  }
  body .item1 .i1fb1text2 {
    margin-bottom: 19px;
  }
  body .item1 .explore-btn {
    margin-bottom: 26px;
  }
  body .item1 .img-text #png-1 {
    border: none;
  }
  body .item1 .img-text #png-1 .Icon {
    width: 13px;
    height: 12px;
  }
  body .item1 .img-text #png-2 {
    border: none;
  }
  body .item1 .img-text #png-2 .Icon {
    width: 13px;
    height: 12px;
  }
}
body .item1 .wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .item1 .wrapper1 .flex-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 558px;
      flex-basis: 558px;
  height: 447px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .item1 .wrapper1 .flex-box1 .i1fb1text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 16px;
}
body .item1 .wrapper1 .flex-box1 .i1fb1text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  color: #000000;
}
body .item1 .wrapper1 .flex-box1 .explore-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
body .item1 .wrapper1 .flex-box1 .explore-btn input {
  width: 177px;
  height: 60px;
  border: 0;
  margin: 0;
  border-radius: 8px;
  background: #070707;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
}
body .item1 .wrapper1 .flex-box1 .explore-btn input:hover {
  opacity: 0.9;
}
body .item1 .wrapper1 .flex-box1 .img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
body .item1 .wrapper1 .flex-box1 .img-text .png {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e0e0e0;
  border: 3px solid #000000;
}
body .item1 .wrapper1 .flex-box1 .img-text .png .Icon {
  width: 25px;
  height: 20px;
}
body .item1 .wrapper1 .flex-box1 .img-text #png-2 {
  position: absolute;
  left: 20px;
}
body .item1 .wrapper1 .flex-box1 .img-text .text {
  margin-left: 30px;
}
body .item1 .wrapper1 .flex-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 477px;
  height: 392px;
  background: #f5f7ff;
  border-radius: 5px;
}
body .item1 .wrapper1 .flex-box2 .Icon {
  width: 87px;
}
body .item2 {
  margin-bottom: 120px;
}
@media (max-width: 414px) {
  body .item2 {
    margin-bottom: 80px;
  }
  body .item2 .block:not(.third) {
    margin-bottom: 16px;
  }
}
body .wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .block {
  text-align: center;
  margin: 20px;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}
body .block .headtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #1f2e35;
  margin-bottom: 8px;
}
body .block .subtittle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #1f2e35;
  margin-bottom: 16px;
}
body .block .texttitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #475e69;
}
body .item3 {
  margin-bottom: 120px;
}
@media (max-width: 414px) {
  body .item3 {
    margin-bottom: 80px;
  }
  body .item3 .Most-Popular {
    margin-bottom: 60px;
  }
  body .item3 .box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  body .item3 .box .texttitle {
    margin-right: 70px;
  }
  body .item3 .box:not(.third) {
    margin-bottom: 36px;
  }
}
body .Most-Popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
  color: #000000;
}
body .wrapper3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper3 .box {
  text-align: left;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  padding: 20px;
}
body .wrapper3 .box .subtittle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 8px;
}
body .wrapper3 .box .texttitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1f2e35;
}
body .wrapper3 .box .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f7ff;
  width: 319;
  height: 187px;
  margin-bottom: 28px;
}
body .wrapper3 .box .img .Icon {
  width: 50px;
}
body .item4 {
  margin-bottom: 120px;
}
@media (max-width: 414px) {
  body .item4 {
    margin-bottom: 80px;
  }
  body .item4 .Trusted-Brands {
    margin-bottom: 50px;
  }
  body .item4 .wrapper4 .box {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  body .item4 .wrapper4 .box:not(.third) {
    margin-bottom: 36px;
  }
}
body .Trusted-Brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  color: #000000;
}
body .wrapper4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper4 .box {
  text-align: center;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 38px 30px 23.55px 34px;
}
body .wrapper4 .box .img {
  background: inherit;
  margin-bottom: 24.16px;
}
body .wrapper4 .box .texttitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #30444e;
}
body .item5 {
  margin-bottom: 120px;
}
@media (max-width: 414px) {
  body .item5 {
    margin-bottom: 80px;
  }
  body .item5 .New-Comer-Tools {
    margin-bottom: 60px;
  }
  body .item5 .wrapper5 .box {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  body .item5 .wrapper5 .box .img {
    margin-bottom: 16px;
    width: 341px;
    height: 214px;
  }
  body .item5 .wrapper5 .box .texttitle {
    margin-right: 160px;
  }
  body .item5 .wrapper5 .box:not(.fourth) {
    margin-bottom: 52px;
  }
}
body .New-Comer-Tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
  color: #000000;
}
body .wrapper5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
body .wrapper5 .box {
  -ms-flex-preferred-size: 266px;
      flex-basis: 266px;
  text-align: left;
  border-radius: 5px;
}
body .wrapper5 .box .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f7ff;
  width: 266px;
  height: 214px;
  margin-bottom: 16px;
  margin-right: 0px;
}
body .wrapper5 .box .img .Icon {
  width: 40px;
}
body .wrapper5 .box .subtittle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 16px;
}
body .wrapper5 .box .texttitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1f2e35;
  margin-right: 70px;
}
body .item6 {
  margin-bottom: 154px;
}
@media (max-width: 414px) {
  body .item6 {
    margin-bottom: 80px;
  }
  body .item6 .Testimonial {
    margin-bottom: 50px;
  }
  body .item6 .wrapper6 .box {
    margin-top: 0px;
    margin-left: 7px;
    margin-right: 7px;
  }
  body .item6 .wrapper6 .box:not(.third) {
    margin-bottom: 50px;
  }
}
body .Testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
  color: #000000;
}
body .wrapper6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper6 .box {
  text-align: left;
  margin: 20px;
  padding: 24px 27px 17px 24px;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}
body .wrapper6 .box .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: inherit;
  margin-bottom: 21.65px;
}
body .wrapper6 .box .texttitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #30444e;
  margin-bottom: 15px;
}
body .wrapper6 .box .img-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper6 .box .img-and-text .subtittle-withimg {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #455a64;
}
body .wrapper6 .box .img-and-text .texttitle-withimg {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
body .wrapper6 .box .icon {
  padding: 26px 24px;
  margin-right: 16px;
  background: #f7f7f7;
  border-radius: 50px;
}
body .item7 {
  margin-bottom: 120px;
}
@media (max-width: 414px) {
  body .item7 {
    margin-bottom: 146px;
  }
  body .item7 .Subscribe {
    margin-bottom: 26px;
  }
  body .item7 .wrapper7 .btn-primary #placeholder {
    background: inherit;
    border: 1px solid #000000;
    margin-right: 0px;
    margin-bottom: 24px;
  }
}
body .Subscribe {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  color: #000000;
}
body .wrapper7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
body .wrapper7 .texttitle {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.3px;
  margin-bottom: 45px;
  color: #30444e;
}
body .wrapper7 .btn-primary {
  text-align: center;
}
body .wrapper7 .btn-primary #placeholder {
  background: inherit;
  width: 282px;
  height: 42px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737b7d;
  margin-right: 24px;
}
body .wrapper7 .btn-primary #btn {
  background: #1f2e35;
  border-radius: 4px;
  border: none;
  padding: 12px 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}
body .wrapper7 .btn-primary #btn:hover {
  opacity: 0.9;
}
body .item8 {
  margin-bottom: 120px;
}
@media (max-width: 414px) {
  body .item8 {
    margin-bottom: 32px;
  }
  body .item8 .box:not(.fourth) {
    margin-bottom: 32px;
  }
}
body .wrapper8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .wrapper8 .box {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}
body .wrapper8 .box .Logo {
  margin-bottom: 16px;
}
body .wrapper8 .box .social-border:not(.third) {
  margin-right: 10px;
}
body .wrapper8 .box .subtittle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
}
body .wrapper8 .box .texttitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343d;
}
body .wrapper8 .box .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .wrapper8 .box .social .social-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #edfffc;
}
body .wrapper8 .box .social .social-border .Icon {
  width: 25px;
  height: 25px;
  border-radius: 0%;
  background: #edfffc;
}
body footer {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #22343d;
}